# ======================
# Python cache
# ======================
__pycache__/
*.py[cod]
*.pyo

# ======================
# Virtual environments
# ======================
venv/
.env/
.venv/

# ======================
# PyInstaller
# ======================
build/
dist/
*.spec

# ======================
# Executables
# ======================
*.exe
*.dll
*.bin

# ======================
# OS / Editor junk
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Logs
# ======================
*.log

# ======================
# Custom
# ======================
NOTPUSHTHISTOGIT
